body {
    font-family: 'Cairo', sans-serif;
}
.rtl-form-select {
    background-position: left 0.5rem center;
    padding-right: 0.75rem;
    padding-left: 2.5rem;
}
.rtl-form-checkbox {
    float: right;
    margin-left: 0.5rem;
}
.summary-positive {
    color: #10B981; /* Tailwind green-500 */
}
.summary-negative {
    color: #EF4444; /* Tailwind red-500 */
}
